nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

/* site logo */
nav span {
  font-family: "Bungee", cursive;
}

/* "write a new tweet" section */
nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav i {
  color: #ca9825;
}

/* Desktop sizing */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #424549;
  }
}
